@font-face {
    font-family: "Basterleur";
    font-style: normal;
    font-weight: 300;
    font-display: swap;
    src: url(fonts/Basteleur-Moonlight.woff2);
}


body{
    background: black; 
    color: azure;
    font-family: 'Basterleur', sans-serif;,Arial, Helvetica, sans-serif;
}

h1{
    background: grey;
    color: azure;

}

.strong-alert{

    color: red;
}

strong{
    background: black;
    color: azure;
}

