body{
       font-family: sans-serif;
       line-height: 1.5;
       background-color: black;
       color: azure;
}

a{
    text-decoration: none;
    color: currentColor;
}

h1{
text-emphasis-color: azure;

}


.header{
  color: azure;
  display: grid;
  grid-template-columns: 1fr auto auto ;
  gap: 24px;
  background-color: black;
  align-items: baseline;
  position: sticky;
  top: 0;
}

.header a{
    text-decoration: none;
    color: white;

}


.projects{

     display: grid;
     grid-template-columns: repeat(3, 1fr);
     justify-content: center;
     gap: 30px;
     max-width: 2000px;
     margin: auto;
}

img{
    display: grid;
     grid-template-columns: repeat(2, 1fr);
     gap: 100px;
     column-gap: 20px;
     max-width: 800px;
     size-adjust: 30%;
     margin: auto;
   
}

.project img{
    /* display: grid;
     grid-template-columns: repeat(3, 1fr);
     justify-content: center;
     gap: 30px;
     max-width: 2000px;
     margin: auto; */
    object-fit: cover;
    height: 100%;    width: 100%;
}


/* PAGE PROJET */
.page-projet img{
    max-width: 100%;
}

.page-projet .article{
    max-width: 1200px;
    margin: auto;
}

.project{
transition: 1s;
filter: grayscale(1);
}
.project:hover{
    /* opacitu: 0.2;*/
    filter: none;
}

.Contact.html{

    justify-content: center;
}

