body{
    background: black; 
    color: azure;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif
}

h1{
    color: azure;

}


strong{
    background: black;
    color: azure;
}

